@import "_vars"

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	color: $dark
	font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
	font-size: 16px
	font-weight: 400

.main-container
	width: 1280px
	margin: 0 auto
	padding-left: 32px
	padding-right: 32px

.main-title
	margin-bottom: 38px
	font-size: 48px
	font-weight: 300

.secondary-title
	margin-bottom: 24px
	font-size: 32px
	font-weight: 300

.image-container
	position: relative
	img
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		object-fit: cover

hr.divider
	width: 100%
	margin-top: 64px
	margin-bottom: 64px
	border-color: $gray
	border-top: unset
	&.small
		margin-top: 32px
		margin-bottom: 32px

.breadcrumbs
	margin-bottom: 64px
	display: flex
	.link
		color: $dark-gray
		text-decoration: none
		&:hover
			opacity: .7
	.divider
		margin: 0 16px
		color: $dark-gray